.app-content {
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    height: calc(100vh - 3.5rem);
    overflow: hidden;
    opacity: 0.8;
}

.title {
    color: white;
    font-size: 20vh;
    text-align: center;
}

.opening-time {
    color: white;
    font-size: 10vh;
    text-align: center;
}