#root {
    height: 100vh;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    opacity: 0.8;
    flex: 1;
}

.title {
    color: white;
    font-size: 20vh;
    text-align: center;
}

.opening-time {
    color: white;
    font-size: 10vh;
    text-align: center;
}